<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



<!--    ==================using Autowiring =================-->
    <bean class="com.autowiringExample.Address" name="address" >
        <property name="city" value="Pune" />
        <property name="street" value="Maharashtra" />
    </bean>

<!--    <bean class="com.autowiringExample.Employee" name="employee" autowire="byName" />-->
<!--    <bean class="com.autowiringExample.Employee" name="employee" autowire="byType" />-->
    <bean class="com.autowiringExample.Employee" name="employee" autowire="constructor" />



</beans>